<!-- sign-in.component.html -->
<div>
  <h2>Sign In</h2>
  <form (ngSubmit)="signin()">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <div *ngIf="loginResponse && loginResponse.isDoctor">
      <!-- Content for doctors -->
      <p>Welcome, Doctor!</p>
      <!-- Add more content specific to doctors -->
    </div>

    <div *ngIf="loginResponse && !loginResponse.isDoctor">
      <!-- Content for patients -->
      <p>Welcome, Patient!</p>
      <!-- Add more content specific to patients -->
    </div>
    <button type="submit">Sign In</button>
  </form>

  <p>Don't have an account? <a (click)="navigateToSignUp()">Sign Up</a></p>
</div>



  
  
  
